.patientButton {
   font-size: 1.2rem !important;
}

.search-box {
    width: 100%;
 input {
    height: 38px;
    outline: none;
    border: 1px solid #5454544f;
    border-radius: 20px;
    padding-left: 40px;
    max-width: 85%;
 }
 svg {
    position: relative;
    left: 33px;
    top: 9px;
    color: #b9b8b8;
 }
}

@media only screen and (max-width: 600px) {
   .topNavbar {
      // display: block !important;
      .add, .notification {
         // display: inline-block;
      }
   }
   .topPatientName {
      // display: block;
   }
   .searchBar {
      display: none;
   }
}